{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link src="gamebase.css" rel="stylesheet" type="text/css">
  <link src="games/shooter.css" rel="stylesheet" type="text/css" >
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="../static/js/phaser.js"></script>
  <script src="../static/js/Entities.js"></script>
  <script src="../static/js/utilities/align.js"></script>
  <script src="../static/js/utilities/alignGrid.js"></script>
  <script src="../static/js/utilities/UIBlock.js"></script>
  {% block head %}
  
  {% endblock %}

</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>