{% extends 'base.html' %}

{% block head %}
    <title>Study Pup</title>    
    
    <script>
      
      //Defines the planet globally
      let planet = "snowcon";
      
      // Creates Main Menu
      class MainMenu extends Phaser.Scene {

          constructor() {
            super({ key: "MainMenu" });
          }
          
          preload() {
            this.load.image("PlayBtn", "../static/assets/snowcon/PlayBtn.png"); 
            this.load.image("background", "../static/assets/snowcon/background.png");  
            this.load.image("floor", "../static/assets/snowcon/floor.png");
            this.load.image("player", "../static/assets/snowcon/player.png");
            this.load.image("sky","../static/assets/snowcon/sky.png");
            this.load.image("enemy", "../static/assets/snowcon/enemy.png");
            this.load.image("amo", "../static/assets/snowcon/amo.png");
          }
      
          create() {
              // Create Grid System
              this.aGrid=new AlignGrid({scene:this,rows:11,cols:11});

              // Add Background
              let background = this.add.image(this.cameras.main.width / 2, this.cameras.main.height / 2, 'background')
              let scaleX = this.cameras.main.width / background.width
              let scaleY = this.cameras.main.height / background.height
              let scale = Math.max(scaleX, scaleY)
              background.setScale(scale).setScrollFactor(0)

              // Add Play Button
              this.PlayBtn = this.add.image(500, 0, "PlayBtn");
              this.aGrid.placeAtIndex(60, this.PlayBtn);
              Align.scaleToGameW(this.PlayBtn,.15);

              // Make the playbutton interactive (see phaser docs for "setInteractive" to get more info)
              this.PlayBtn.setInteractive();

              // When clicking the button, start the game play
              this.PlayBtn.on("pointerup", function() {
                  this.scene.start("GamePlay");
              }, this);

              // place grid over for reference
              this.aGrid.showNumbers();

          }  
      }
    
      class GamePlay extends Phaser.Scene {

        constructor() {
            super({ key: "GamePlay" });
        }
  
        preload() {
          
        }
    
        create() {

          // Create Grid System
          this.aGrid=new AlignGrid({scene:this,rows:11,cols:11});

          // Add Background
          let background = this.add.image(this.cameras.main.width / 2, this.cameras.main.height / 2, 'background')
          let scaleX = this.cameras.main.width / background.width
          let scaleY = this.cameras.main.height / background.height
          let scale = Math.max(scaleX, scaleY)
          background.setScale(scale).setScrollFactor(0)

          // Add Floorground
          let floor = this.physics.add.image(game.config.width/2, game.config.height ,"floor");
          floor.displayWidth = game.config.width*1.1;
          floor.displayHeight = game.config.height*.25;
          floor.setImmovable();

          // add sky
          let sky = this.add.image(game.config.width/2,0, "sky");
          sky.displayWidth = game.config.width*1.1;
          sky.displayHeight = game.config.height*.25;

          // add player
          let player = this.physics.add.sprite(game.config.width/2,game.config.height*.7,"player");
          Align.scaleToGameW(player,.1);
          player.setGravityY(1000);

          // Makes the player land on solid ground and not fall through
          this.physics.add.collider(player, floor);
          
        
          this.keySpace = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.SPACE);
          this.cursors = this.input.keyboard.createCursorKeys();
        
          this.enemies = this.add.group();
          this.enemyLasers = this.add.group();
          this.playerLasers = this.add.group();
      }

      update() {
    
      }
    }

    class SceneGameOver extends Phaser.Scene {
      constructor() {
        super({ key: "SceneGameOver" });
      }
    
      create() {
        
      }
    
    }
    //var pixelRatio = scene.sys.game.device.os.pixelRatio;
    
    var config = {
    type: Phaser.WEBGL,
    mode: Phaser.Scale.FIT,
    width: window.innerWidth * window.devicePixelRatio,
    height: window.innerHeight * window.devicePixelRatio,
    transparent:true,
    physics: {
      default: "arcade",
      arcade: {
        gravity: { x: 0, y: 0 },
        debug: true
      }
    },
    scene: [
      MainMenu,
      GamePlay,
      SceneGameOver
    ],
    pixelArt: true,
    roundPixels: true
    };
    
    var game = new Phaser.Game(config);
    </script>
{% endblock %}

{% block content %}{% endblock %}

